@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* height: 100%; */
  font-family: "Montserrat", sans-serif;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(238, 235, 231);
}
.card {
  padding: 5px;
  margin: 50px;
  background-color: #ffffff;
  padding: 5px;
  /* margin: 50px; */
  /* position: relative; */
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  height: 550px;
}
.card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid transparent;
  border-radius: 10px;
}

span {
  color: rgb(150, 142, 142);
  font-size: 18px;
  font-weight: 600;
  padding: 6px;
  margin: 7px;
  border: 1px solid rgb(201, 192, 192);
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
  left: 24px;
}

.text-content {
  position: relative;
  top: 6px;
  padding: 12px;
  margin: 10px;
}

.text-content h2 {
  color: rgb(108, 95, 98);
  font-size: 32px;
  bottom: 10px;
  margin-bottom: 20px;
}

p {
  top: 15px;
  color: rgb(150, 142, 142);
  /* top: 10px; */
  margin-bottom: 10px;
  line-height: 1.5;
}

button {
  color: red;
  font-weight: bold;
  border: 2px solid rgb(184, 75, 75);
  border-radius: 25px;
  padding: 8px;
  display: block;
  margin: 0 auto;
}

button:hover {
  color: #fff;
  background-color: rgb(149, 19, 19);
  border: red;
}
